Y3S1/WebTech/Assignment_1/Assignment1/XML Thing/library.dtd

<!ELEMENT library (category+)>
<!ATTLIST library name CDATA #REQUIRED>
<!ELEMENT category (book+)>
<!ATTLIST category name CDATA #REQUIRED>
<!ELEMENT book EMPTY>
<!ATTLIST book title CDATA #REQUIRED>
<!ATTLIST book author CDATA #REQUIRED>
<!ATTLIST book publication_date CDATA #REQUIRED>
<!ATTLIST book isbn CDATA #REQUIRED>
<!ATTLIST book copies CDATA #REQUIRED>
